* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.header{
    grid-column: 1/-1;
    grid-row: 1/2;
}
.form {
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/-2;
    grid-template-columns: 1fr 1fr;
    width: 45%;
    background-color: white;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.first-name {
    grid-column: 1/2;
    width: 100%;
}
.last-name {
    grid-column: 2/3;
    width: 100%;
}
.email {
    grid-column: 1/-1;
    width: 100%;
}
.textarea {
    grid-column: 1/-1;
    width: 100%;
}
.button {
    grid-column: 1/-1;
    width: 100%;
}
h1 {
    font-family: Argr1000,sans-serif;
    margin: 30px;
    text-align: center;
    font-size: 50px;
    color: #000000;
}
p {
    text-align: center;
    font-size: 20px;
}
input {
    width: 85%;
    margin: 25px;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 7px;
}
textarea {
    width: 85%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 7px;
    margin: 25px;
    padding: 15px;
}
::placeholder {
    font-size: 16px;
}
button {
    width: 40%;
    display: block;
    text-align: center;
    margin: 0 auto 25px auto;
    background-color: #28baa1;
    color: white;
    font-size: 17px;
    padding: 17px;
    border-radius: 30px;
    border: none;
}